<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>915007742976-u7u5g0j0nkt1q6oqhc6ulm9tv9rbfmup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915007742976-u7u5g0j0nkt1q6oqhc6ulm9tv9rbfmup</string>
	<key>API_KEY</key>
	<string>AIzaSyApw_mAKT-PleT3kFUjfdZpweYkL_FvsOk</string>
	<key>GCM_SENDER_ID</key>
	<string>915007742976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.sho.iisha</string>
	<key>PROJECT_ID</key>
	<string>iisha-d8c50</string>
	<key>STORAGE_BUCKET</key>
	<string>iisha-d8c50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915007742976:ios:3acecaf2cc67f1f2</string>
	<key>DATABASE_URL</key>
	<string>https://iisha-d8c50.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8584614776087034~7925054882</string>
</dict>
</plist>